[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pillow = "*"
drf-nested-routers = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
django-extensions = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
