[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pillow = "*"
drf-nested-routers = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
django-extensions = "*"
requests = "*"
drf-yasg = "*"
django-filter = "*"
pytest-django = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.11"
